<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.mapper.EmployeeMapper">
    <resultMap id="userResultMap" type="com.abc.model.Employee">
        <id column="employee_code" property="employeeCode"/>
        <result column="employee_name" property="employeeName"/>
        <result column="employee_password" property="employeePassword"/>
    </resultMap>


    <insert id="add" parameterType="com.abc.model.Employee">
        insert into `employee` (employee_code, employee_name, employee_password)
        values (#{employeeCode}, #{employeeName}, #{employeePassword})
    </insert>

    <update id="update" parameterType="com.abc.model.Employee">
        update `employee`
        set employee_password=#{employeePassword}
        where employee_code = #{employeeCode}
    </update>

    <select id="getByEmployeeName" resultMap="userResultMap">
        select *
        from `employee`
        where employee_name = #{employeeName}
    </select>

    <select id="getByEmployeeCode" resultMap="userResultMap">
        select *
        from `employee`
        where employee_code = #{employeeCode}
    </select>

</mapper>
