<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.mapper.RoleMapper">
    <resultMap id="roleResultMap" type="com.abc.model.Role">
        <id column="id" property="id"/>
        <result column="role_code" property="roleCode"/>
        <result column="role_name" property="roleName"/>
    </resultMap>

    <insert id="add" parameterType="com.abc.model.Role">
        insert into `role` (role_code, role_name)
        values (#{roleCode}, #{roleName})
    </insert>

    <update id="update" parameterType="com.abc.model.Role">
        update `role`
        set role_name=#{roleName}
        where role_code = #{roleCode}
    </update>

    <delete id="delete" parameterType="int">
        delete from `role` where id = #{id}
    </delete>

    <select id="getById" resultMap="roleResultMap">
        select *
        from `role`
        where id = #{id}
    </select>

    <select id="getByRoleCode" resultMap="roleResultMap">
        select *
        from `role`
        where role_code = #{roleCode}
    </select>

    <select id="getAllRoles" resultMap="roleResultMap">
        select *
        from `role`
    </select>

</mapper>
